In [18]:
# Non-Negative Matrix Factorization

# Non-Negative Matrix factorization is an unsupervised learning algorithm that simultaneously 
# performs dimensionality reduction and clustering. 

# We can use this technique in conjunction with TF-IDF to model topics across documents.

# We are given a non-negative matrix A, find k-dimension approximation in terms of the 
# non-negative factors W and H.


# Basis Vectors ==> W 
# Coefficient Matrix ==> H

# n * m (data matrix, rows = features, cols = objects) ===> n * k (W, Basis Vectors, rows = features)  k * m (H, Coefficient Matrix, cols = objects)
# Note: W >= 0 and H >= 0

# Approximate each object (column of A) by a linear combination of k reduced dimensions or "basis vectors" in W.

# Each basis vector can be interpreted as a cluster. The memberships of objects in these clusters are encoded by H.


# Input: Non-negative data matrix (A), number of basis vectors (k), and initial values for 
# the factors W and H (e.g. random matrices). In topic modelling, The 'k' is the number of 
# topics we choose. Here, the 'A' is the TF-IDF for the words across all the documents.

# Objective function: Some measure of reconstruction error between A and the approximation WH.

# Expectation-maximization optimization to refine W and H in order to minimize the objective function.
# Common approach is to iterate between two multiplicative update rules until convergence.

# Steps: 

# 1-) Construct a vector space model for the documents (after stopword filtering), which results in a 
# term document matrix A.

# 2-) Apply TF-IDF term weight normalization to A.

# 3-) Normalize TF-IDF vectors to unit length.

# 4-) Initialize the factors using non-negative double singular value decomposition (NNDSVD) on A.

# 5-) Apply a projected gradient non-negative matrix factorization to A.

# * Basis Vectors: The topics (clusters) in the data.
# * Coefficient Matrix: The membership weights for documents relative to each topic (cluster).


#---------------------------------------------------------------------------------------------------#

# * Create a document term matrix with TF-IDF vectorization.
# * Resulting W and H.
# Basis vectors W = Topics (Clusters)
# Coefficients H = Memberships for documents


# Important Notes: 
# Just like LDA, we will need to select the number of expected topics beforehand (the value of k)!
# Moreover, just like LDA, we will have to interpret the topics based on the coefficient values
# of the words per topic.
# Coefficient value is not a probability value like the LDA gives us.


"""Comparison between Latent Dirichlet allocation (LDA) and Non-negative Matrix Factorization (NMF) –

Latent Dirichlet allocation (LDA)

* Assumes each document has multiple topics.
* Works best with longer texts such as full articles, essays, and books.
* Evolves as you process new documents with the same model.
* Results are not deterministic, meaning you might get different results each time for the same data set.

Non-negative Matrix Factorization(NMF)

* Calculates how well each document fits each topic, rather than assuming a document has multiple topics.
* Usually faster than LDA.
* Works best with shorter texts such as tweets or titles.
* Results are almost deterministic, having more consistency when running the same data."""

In [19]:
import pandas as pd

npr = pd.read_csv('npr.csv')
print(npr)
print()
print(type(npr))

                                                 Article
0      In the Washington of 2016, even when the polic...
1        Donald Trump has used Twitter  —   his prefe...
2        Donald Trump is unabashedly praising Russian...
3      Updated at 2:50 p. m. ET, Russian President Vl...
4      From photography, illustration and video, to d...
...                                                  ...
11987  The number of law enforcement officers shot an...
11988    Trump is busy these days with victory tours,...
11989  It’s always interesting for the Goats and Soda...
11990  The election of Donald Trump was a surprise to...
11991  Voters in the English city of Sunderland did s...

[11992 rows x 1 columns]

<class 'pandas.core.frame.DataFrame'>

In [20]:
npr.head()

                                             Article
0  In the Washington of 2016, even when the polic...
1    Donald Trump has used Twitter  —   his prefe...
2    Donald Trump is unabashedly praising Russian...
3  Updated at 2:50 p. m. ET, Russian President Vl...
4  From photography, illustration and video, to d...

In [21]:
npr.tail()

                                                 Article
11987  The number of law enforcement officers shot an...
11988    Trump is busy these days with victory tours,...
11989  It’s always interesting for the Goats and Soda...
11990  The election of Donald Trump was a surprise to...
11991  Voters in the English city of Sunderland did s...

In [22]:
print(npr.head())
print()
print()
print(npr.tail())

                                             Article
0  In the Washington of 2016, even when the polic...
1    Donald Trump has used Twitter  —   his prefe...
2    Donald Trump is unabashedly praising Russian...
3  Updated at 2:50 p. m. ET, Russian President Vl...
4  From photography, illustration and video, to d...


                                                 Article
11987  The number of law enforcement officers shot an...
11988    Trump is busy these days with victory tours,...
11989  It’s always interesting for the Goats and Soda...
11990  The election of Donald Trump was a surprise to...
11991  Voters in the English city of Sunderland did s...

In [23]:
from sklearn.feature_extraction.text import TfidfVectorizer 

tfidf = TfidfVectorizer(max_df = 0.90, min_df = 2, stop_words = 'english')
print(tfidf)
print(type(tfidf))

TfidfVectorizer(max_df=0.9, min_df=2, stop_words='english')
<class 'sklearn.feature_extraction.text.TfidfVectorizer'>

In [24]:
document_term_matrix = tfidf.fit_transform(npr['Article'])
print(document_term_matrix)
print(type(document_term_matrix))

  (0, 35089)	0.03226897967994957
  (0, 54092)	0.020091155964863487
  (0, 38081)	0.01848530736819011
  (0, 54067)	0.012397163630307462
  (0, 10755)	0.02787343599042425
  (0, 2084)	0.015039386128760875
  (0, 42314)	0.022036401840046918
  (0, 37132)	0.019410859475366766
  (0, 36306)	0.03708208498289024
  (0, 11215)	0.04403771437574997
  (0, 21789)	0.02878450387905149
  (0, 1489)	0.023797160985101373
  (0, 50697)	0.019446980637479037
  (0, 33048)	0.024542771720625026
  (0, 51402)	0.016746597091717476
  (0, 19989)	0.02443930384385255
  (0, 36685)	0.030973769110011082
  (0, 49906)	0.02337784417528088
  (0, 19711)	0.019932202578472266
  (0, 10363)	0.03610629520801115
  (0, 35891)	0.015092411075280365
  (0, 35436)	0.024429052861450844
  (0, 50587)	0.019150868499058813
  (0, 13837)	0.053973383521678145
  (0, 1932)	0.027002284256125594
  :	:
  (11991, 24722)	0.01644172551896015
  (11991, 30961)	0.013423780587151574
  (11991, 39886)	0.014046569134225128
  (11991, 7572)	0.02747146498745652
  (11991, 47772)	0.024621351721648654
  (11991, 38788)	0.0105244804942528
  (11991, 38259)	0.015643826957449602
  (11991, 9511)	0.048394635963148296
  (11991, 11657)	0.01963978982339237
  (11991, 53014)	0.009862718553798772
  (11991, 50466)	0.01184247409004277
  (11991, 53582)	0.04623269406439066
  (11991, 50426)	0.01120171325726109
  (11991, 42561)	0.03509442034906929
  (11991, 53325)	0.014329342052327554
  (11991, 10366)	0.01595826977057714
  (11991, 54412)	0.007454565657515723
  (11991, 19398)	0.0160346662215466
  (11991, 7061)	0.014521388980633362
  (11991, 29070)	0.010431668949988631
  (11991, 26752)	0.006719650950072229
  (11991, 16123)	0.02841730210985626
  (11991, 32459)	0.016191347350104537
  (11991, 54403)	0.008530202072840548
  (11991, 37411)	0.016271721758987952
<class 'scipy.sparse.csr.csr_matrix'>

In [25]:
document_term_matrix

<11992x54777 sparse matrix of type '<class 'numpy.float64'>'
	with 3033388 stored elements in Compressed Sparse Row format>

In [26]:
# Perform Non-Negative Matrix Factorization 
from sklearn.decomposition import NMF


nmf_model = NMF(n_components = 10, random_state = 42)
nmf_model.fit(document_term_matrix)

/Users/barissss/opt/anaconda3/lib/python3.9/site-packages/sklearn/decomposition/_nmf.py:289: FutureWarning: The 'init' value, when 'init=None' and n_components is less than n_samples and n_features, will be changed from 'nndsvd' to 'nndsvda' in 1.1 (renaming of 0.26).
  warnings.warn(

NMF(n_components=10, random_state=42)

In [30]:
# As you can see below, the length of the 'feature_names' array is 54777. This means that there are 54777 unique 
# terms or words in the corpus or collection of documents which are used to create the TF-IDF representation. 

feature_names = tfidf.get_feature_names()
print(len(feature_names))

print(f"There are {len(feature_names)} unique terms or words in the corpus used to create the TF-IDF representation.")

print()
print()
print()
print()
for j in range(0, 1000):
    print(feature_names[j])

54777
There are 54777 unique terms or words in the corpus used to create the TF-IDF representation.




00
000
00000
000s
000th
002
004
007
009
00s
01
011
012
015
02
021
024
029
03
032
033
04
042
05
050
054
058
06
060
062
064
065
068
07
075
08
080
088
09
094
098
0_hellofriend
10
100
1000
100th
101
101st
102
103
104
1040
105
105th
106
1066
107
1070
108
109
10k
10s
10th
11
110
111
112
113
113th
114
114th
115
115th
116
117
118
119
11th
12
120
1200
121
122
123
1234
124
125
125th
126
127
128
129
12th
13
130
1300
1300s
131
131st
132
133
134
135
136
137
138
139
13th
14
140
1400s
141
142
143
143rd
144
145
146
147
148
149
1492
1493
14th
15
150
1500
1500s
150th
151
1517
152
1523
153
154
155
156
157
158
159
15girls
15th
16
160
1600
1600s
161
1616
162
1623
163
1631
164
165
166
1662
1669
167
168
169
16mm
16th
17
170
1700s
171
1713
172
173
1734
174
1747
175
176
1761
1762
1766
177
1770
1770s
1774
1776
178
1780s
1783
1784
1787
1788
1789
179
1790
1790s
1791
1793
1796
17th
18
180
1800
1800s
1801
1804
1808
181
1810
1812
1813
1814
1815
1816
1817
182
1820
1820s
1822
1824
1825
1828
1829
183
1830s
1833
1835
1837
1838
1839
184
1840
1840s
1841
1842
1845
1846
1848
1849
185
1850
1850s
1851
1852
1854
1855
1857
1858
1859
186
1860
1860s
1861
1862
1863
1864
1865
1866
1867
1868
1869
187
1870
1870s
1871
1872
1873
1874
1875
1876
1877
1879
188
1880
1880s
1881
1882
1883
1884
1885
1886
1888
1889
189
1890
1890s
1891
1892
1893
1894
1895
1896
1897
1898
18th
19
190
1900
1900s
1901
1902
1903
1904
1905
1906
1907
1908
1909
191
1910
1910s
1911
1912
1913
1914
1915
1916
1917
1918
1919
192
1920
1920s
1921
1922
1923
1924
1925
1926
1927
1928
1929
193
1930
1930s
1931
1932
1933
1934
1935
1936
1937
1938
1939
194
1940
1940s
1941
1942
1943
1944
1945
1946
1947
1948
1949
195
1950
1950s
1951
1952
1953
1954
1955
1956
1957
1958
1959
196
1960
1960s
1961
1962
1963
1964
1965
1966
1967
1968
1969
197
1970
1970s
1971
1972
1973
1974
1975
1976
1977
1978
1979
198
1980
1980s
1981
1982
1983
1984
1985
1986
1987
1988
1989
199
1990
1990s
1991
1992
1993
1994
1995
1996
1997
1998
1999
19th
1s
1st
20
200
2000
2000s
2001
2002
2003
2004
2005
2006
2007
2008
2009
200th
201
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
202
2020
2020s
2021
2022
2023
2024
2025
2026
2027
2029
203
2030
2030s
2033
2034
2035
2036
204
2040
2044
205
2050
2052
206
2060
207
208
209
20k
20s
20th
21
210
2100
211
212
213
214
215
216
217
218
219
21st
22
220
2205
221
222
223
2231
224
225
226
227
2270
228
229
22nd
23
230
231
232
232nd
233
234
235
236
237
238
239
23andme
23rd
24
240
2400
241
242
243
244
245
246
247
248
249
25
250
250th
251
252
253
254
255
256
257
258
259
25th
26
260
2600
261
262
263
264
265
266
267
268
269
26th
27
270
271
272
273
274
275
276
277
278
279
27th
28
280
2800
281
282
283
284
285
286
287
288
289
28th
29
290
291
292
293
294
295
296
297
298
29th
2d
2nd
30
300
3000
301
303
304
305
306
307
308
309
30pm
30s
30th
31
310
311
312
313
314
315
316
317
318
319
31st
32
320
321
323
325
326
327
328
329
32nd
33
330
331
332
333
334
335
336
337
338
339
33rd
34
340
341
3411
342
343
344
345
346
347
349
34th
35
350
351
352
356
357
358
359
35th
36
360
361
363
364
365
366
367
368
369
36th
37
370
371
372
374
375
376
37th
38
380
381
382
383
384
385
386
387
388
389
38th
39
390
391
392
393
394
395
396
397
398
399
3d
3ds
3g
3rd
3s
40
400
400th
401
402
403
405
406
408
409
40s
40th
41
410
412
413
414
415
416
418
42
420
422
423
424
425
426
427
428
429
42nd
43
430
431
432
433
434
435
437
438
439
43rd
44
440
441
442
443
445
446
447
449
44th
45
450
454
455
458
45s
45th
46
460
461
463
465
466
467
468
46th
47
470
472
475
476
477
479
47th
48
480
481
482
483
485
486
488
489
49
490
491
492
493
495
496
499
49ers
49th
4ever
4g
4runner
4s
4th
4x100
4x200
50
500
5000
500th
501
503
504
505
506
507
508
509
50s
50th
51
510
511
512
513
514
516
517
51st
52
520
521
522
524
525
526
527
529
53
530
531
532
533
534
535
537
538
539
54
540
541
543
544
545
546
547
549
55
550
551
552
553
554
555
556
55th
56
560
561
562
563
565
567
568
57
570
573
577
579
57th
58
580
582
584
585
587
589
58th
59
590
591
595
596
597
599
59th
5c
5dollarchallenge
5s
5th
60
600
6000
602
604
607
609
60s
60th
61
610
611
614
616
617
618
62
620
6200
622
6221
625
62nd
63
630
633
634
635
636
639
64
640
644
645
648
65
650
653
654
656
657
658
659
65th
66
660
662
664
665
666
667
668
669
67
670
672
673
675
676
67p
67th
68
680
682
683
686
687
688
68th
69
690
691
693
695
696
697
699
69th
6m
6th
70
700
701
702
704
706
709
70s
70th
71
710
712
713
715
717
71st
72
720

In [33]:
for index, topic in enumerate(nmf_model.components_):
    print(f"The top 25 words for topic#{index}: ")
    print()
    top25_words = [tfidf.get_feature_names()[j] for j in topic.argsort()[-25:]]
    print(top25_words)
    print()

The top 25 words for topic#0:

['lot', 'help', 'time', 'use', 'scientists', 'don', 'make', 'companies', 'work', 'research', 'year', 'university', 'workers', '000', 'years', 'just', 'company', 'study', 'new', 'percent', 'like', 'water', 'food', 'people', 'says']

The top 25 words for topic#1:

['republicans', 'washington', 'media', 'party', 'office', 'nominee', 'business', 'speech', 'tax', 'news', 'administration', 'cruz', 'election', 'pence', 'gop', 'presidential', 'obama', 'house', 'white', 'republican', 'donald', 'campaign', 'said', 'president', 'trump']

The top 25 words for topic#2:

['costs', 'services', 'premiums', 'plans', 'said', 'medical', 'insurers', 'house', 'aca', 'percent', 'patients', 'repeal', 'law', 'act', 'republicans', 'tax', 'people', 'plan', 'affordable', 'obamacare', 'coverage', 'medicaid', 'insurance', 'care', 'health']

The top 25 words for topic#3:

['islamic', 'iraqi', 'civilians', 'reports', 'security', 'mosul', 'president', 'government', 'attack', 'turkey', 'assad', 'iran', 'iraq', 'north', 'china', 'aleppo', 'war', 'korea', 'said', 'forces', 'russia', 'military', 'syrian', 'syria', 'isis']

The top 25 words for topic#4:

['convention', 'race', 'presidential', 'polls', 'bernie', 'said', 'candidate', 'republican', 'win', 'candidates', 'cruz', 'election', 'primary', 'democrats', 'percent', 'party', 'vote', 'state', 'delegates', 'democratic', 'hillary', 'campaign', 'voters', 'sanders', 'clinton']

The top 25 words for topic#5:

['band', 'story', 'going', 'black', 'film', 'kind', 'songs', 'things', 'don', 've', 'book', 'love', 'women', 'way', 'time', 'life', 'album', 'song', 'people', 'really', 'know', 'think', 'just', 'like', 'music']

The top 25 words for topic#6:

['classroom', 'district', 'class', 'public', 'percent', 'university', 'learning', 'colleges', 'says', 'state', 'program', 'child', 'teacher', 'high', 'devos', 'parents', 'children', 'college', 'kids', 'teachers', 'student', 'education', 'schools', 'school', 'students']

The top 25 words for topic#7:

['says', 'brain', 'puerto', 'pregnancy', 'risk', 'dr', 'transmission', 'spread', 'vaccine', 'birth', 'cdc', 'babies', 'infected', 'brazil', 'outbreak', 'pregnant', 'microcephaly', 'cases', 'health', 'disease', 'mosquitoes', 'mosquito', 'women', 'virus', 'zika']

The top 25 words for topic#8:

['according', 'reported', 'violence', 'told', 'protesters', 'authorities', 'man', 'video', 'dallas', 'shot', 'department', 'enforcement', 'killed', 'city', 'gun', 'people', 'law', 'reports', 'attack', 'shooting', 'officer', 'black', 'said', 'officers', 'police']

The top 25 words for topic#9:

['case', 'democrats', 'white', 'judge', 'federal', 'obama', 'flynn', 'attorney', 'department', 'sessions', 'law', 'supreme', 'russian', 'russia', 'intelligence', 'said', 'investigation', 'committee', 'house', 'justice', 'president', 'senate', 'fbi', 'court', 'comey']

In [41]:
# It attaches discovered topic labels to the original articles
topic_results = nmf_model.transform(dtm)
print(topic_results.argmax(axis=1))


# assigning the index of the maximum value for each topic to the numerical topic label in the npr data frame.
# creating a numerical topic label column called 'Topic' in the npr data frame.
npr['Topic'] = topic_results.argmax(axis=1)

[1 1 1 ... 7 4 0]

In [42]:
npr.head()

                                             Article  Topic
0  In the Washington of 2016, even when the polic...      1
1    Donald Trump has used Twitter  —   his prefe...      1
2    Donald Trump is unabashedly praising Russian...      1
3  Updated at 2:50 p. m. ET, Russian President Vl...      3
4  From photography, illustration and video, to d...      6

In [43]:
npr.tail()

                                                 Article  Topic
11987  The number of law enforcement officers shot an...      8
11988    Trump is busy these days with victory tours,...      1
11989  It’s always interesting for the Goats and Soda...      7
11990  The election of Donald Trump was a surprise to...      4
11991  Voters in the English city of Sunderland did s...      0

In [44]:
print(npr.head())

                                             Article  Topic
0  In the Washington of 2016, even when the polic...      1
1    Donald Trump has used Twitter  —   his prefe...      1
2    Donald Trump is unabashedly praising Russian...      1
3  Updated at 2:50 p. m. ET, Russian President Vl...      3
4  From photography, illustration and video, to d...      6

In [45]:
print(npr.tail())

                                                 Article  Topic
11987  The number of law enforcement officers shot an...      8
11988    Trump is busy these days with victory tours,...      1
11989  It’s always interesting for the Goats and Soda...      7
11990  The election of Donald Trump was a surprise to...      4
11991  Voters in the English city of Sunderland did s...      0